@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.header > {
width: 100vw;
height: 80vh;
margin-left: 50px;
margin-right: 50px;
justify-content: center;
align-items: center;
place-items: center;
position: relative;
background-image: url("../components/images/hero.jpg");
}

.describeContent > h3 {
    color: grey;
    font-weight: 500;
    font-family: 'Quicksand';
}

.typeSection {
    margin-top: 50px;
}

.imageHeader > img {
    margin-top: 20px;
    border-top-left-radius: 20px;
    box-shadow: 10px 20px #499AA9 ;
}