@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.bg-white {
    background-color: white;
}
.bg-ijo {
    background-color:#499AA9 ;
}

.navComp {
    font-family:'Quicksand' ;
    font-weight: 700;
    letter-spacing: 2px;
    



}


.navComp > a{
    color: grey !important;
    
    
    }



.navComp > a :hover{
border-bottom: 2px solid #499AA9;


}

.navComp > a :active{
    border-bottom: 2px solid #499AA9;
    
    
    }

/* .lineHeader {
    width: 100vw;
    height: 2px;
    background-color: #499AA9 ;
    margin-left: 50px;
    
} */