@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.ourService {
    font-family: "Montserrat";
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-bottom: 10px;
   

}

.ourService  > h1 {
      font-family: "Montserrat";
font-size: 25px;
color:black;

}

.ourService  > h5{
    color: gray;
    margin-bottom: 10px;
    
    }